{% extends 'font_detect/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="data:image/png;base64,{{result_img}}" alt="변환된 사진">
    
    <form method="POST" action="{% url 'crosscolor' %}">
        {% csrf_token %}
        <button type="submit" class="btn back">뒤로가기</button>
    </form>  

    <a href="data:image/png;base64,{{result_img}}" download><button>이미지 다운로드</button></a>
</body>

</html>
{% endblock %}
